input:not([disabled]), label {
  cursor: pointer;
}

input[disabled] + label {
  cursor: default;
}

label.active {
  color: #81d41d;
}

ul {
  list-style: none;
}

canvas.leap-boneHand {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  z-index: 1;
  cursor: pointer;
}

#intro_wrapper {
  position: absolute; left: 50%;
  z-index: 3;
  pointer-events: none;
}

#intro{
  position: relative;
  left: -50%;
  width: 760px;
  display: block;
  pointer-events: initial;

  background: white;
  box-shadow: 0px 0px 1px #444;
  border-radius: 3px;
  padding: 2em 4em;
  box-sizing: border-box;
}

#intro h1 {
  text-align: center;
}

#intro img {
  width: 400px;
  margin: auto;
  display: block;
  margin-bottom: 2em;
}

#intro button {
  display: block;
  margin: 2em auto;
  padding: 1em 1em;
  border-radius: 3px;
  font-size: 1em;
  /*background: #D8D8B4;*/
  /*color: rgb(56, 56, 16);*/
  /*background: #C4DBAB;*/
  border: none;
  cursor: pointer;
  width: 250px;

  background: #7ca82d;
  color: white;
}
#intro button:hover {
  background: #769e29;
}

p.small {
  font-size: 16px;
  color: #333;
}

#attribution{
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*text-align: right;*/
  /*padding: 0 2em;*/
}

footer, footer .submenu {
  background: #121;
  color: #fff;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}
footer > ul > li {
  position: relative;
}
footer li a {
  color: #ccc;
}

footer .submenu li {
  display: block;
  padding-top: 0.5em;
  white-space: nowrap;
}


footer img {
  height: 32px;
  width: 32px;
}

footer .submenu {
  display: none;
  position: absolute;
  bottom: 50px;
  left: -1em;
  padding: 0 1em;
  padding-bottom: 0.5em;
}
footer .submenu img, footer .submenu span {
  vertical-align: middle;
}

.wiki-logo {
  font-family: Garamond, Adobe Garamond Pro, Warnock, Warnock Pro, Bondoni, Bondoni MT, Goudy Old Style, Musica, serif;
  font-size: 22px;
  width: 32px;
  display: inline-block;
  text-align: center;
}

#no_leap_message {
  margin-top: -1em;
  text-align: right;
  padding-right: 160px;
  margin-bottom: 2em;
  color: #777;
  font-size: 16px;
}