input:not([disabled]), label {
  cursor: pointer;
}

input[disabled] + label {
  cursor: default;
}

label.active {
  color: #81d41d;
}

ul {
  list-style: none;
}

canvas.leap-boneHand {
  position: absolute;
  top: 0;
  left: 0;
}