#bayan {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 50%;
}

#bayan-textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  font: 80px Helvetica, sans-serif;
  /* vertical-align:top; */
  top:70%;
  border:none;
  resize:none;
  width: 90%;
  height: 50%;
}

html {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
a {
  color: #B8B89D;
  text-decoration: none;
  cursor: pointer;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}
